{
    "statuscake": {
      "interval": "your interval",
      "apikey": "your apikey",
      "username": "your username",
      "baseUrl": "your URL",
      "route": "'your route'",
      "listener": "your listener"
      "testTitleFilter": "your filter",
      "firstTag": "customer",
      "secondTag": "service",
      "thirdTag": "device",
      "fourthTag": "version",
      "nameOflLoadTimeGauge": "name of your loadtime gauge",
      "nameOfFileSizeGauge": "name of your filesize gauge",
      "nameOfRequestGauge": "name of your request gauge",
      "tagsFromTestTitleRegexp": "Your regex"
    }
}
